@import "../../../../styles/var";

.item,
.item_active {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 24px;
  background-color: #ffffff;
  color: $secondaryColor;
  border: 1px solid #e5e4e1;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  transition: 0.3s;
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}
.item:hover {
  text-decoration-color: #494948;
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: #e5e4e1;
  -moz-text-decoration-color: #e5e4e1;
}

.item_active:hover {
  text-decoration-color: #051655;
  /*add those for opera and mozilla support*/
  -webkit-text-decoration-color: #051655;
  -moz-text-decoration-color: #051655;
}

.item_active {
  color: $primaryColor;
  border: 1px solid #051655;
}

@media only screen and (max-width: 600px) {
  .item,
  .item_active {
    text-decoration: none;
  }
}
