.input_box {
  position: relative;
  display: inline-block;
}
.img_box {
  position: absolute;
  left: 30px;
  top: 20px;
}

.img {
  display: flex;
  text-align: center;
}

.input {
  border: 1px solid;
  border-color: #e5e4e1;
  // min-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #747887;
  padding: 20px 20px 20px 65px;
}

.input:focus {
  border-color: #eb3d35;
}
