.city,
.city__active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // min-width: 360px;
  background-color: #f3f6f9;
  padding: 10px 20px;
}
.city__active {
  background-color: #ffffff;
  border: 1px solid #eb3d35;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  color: #051655;
}
.box {
  display: flex;
  align-items: center;
}

.box > * + * {
  margin-left: 30px;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #051655;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark,
.checkmark_active {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid #e5e4e1;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkmark_active {
  border: 1px solid #eb3d35;
}
.checkmark:hover {
  background-color: rgba(136, 136, 139, 0.2);
}
.inside {
  height: 20px;
  width: 20px;
  background-color: #eb3d35;
  border-radius: 100%;
}
