@import "../../styles/var";

.next_prev {
  display: flex;
  align-items: center;
}

.next_prev > * + * {
  margin-left: 20px;
}

.next_btn,
.back_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: $thirdColor;
  background-color: rgba(235, 61, 53, 0.8);
  padding: 18px 50px;
  transition: all 0.3s ease;
}
.next_btn:hover {
  background-color: rgba(235, 61, 53, 1);
}

.back_btn {
  color: $primaryColor;
  border: 1px solid $secondaryColor;
  background-color: #ffffff;
  opacity: 0.8;
}

.back_btn:hover {
  opacity: 1;
}
