.steps {
  padding: 89px 0 60px 0;
  display: flex;
  align-items: center;
  .box {
    display: flex;
    align-items: center;
  }
}

.mobile_steps {
  padding: 20px 0;
  display: flex;
  align-items: center;
  .box {
    display: flex;
    align-items: center;
  }
}

.step,
.mobile_step,
.step_active,
.mobile_step_active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}
.mobile_step,
.mobile_step_active {
  width: 40px;
  height: 40px;
}
.step_active,
.mobile_step_active {
  background-color: #eb3d35;
  border: none;
}

.line,
.line_active {
  width: 100px;
}
.mobile_line,
.mobile_line_active {
  width: 20px;
}
.line,
.mobile_line {
  border-top: 2px solid #e5e4e1;
}

.line_active,
.mobile_line_active {
  border-top: 2px solid #eb3d35;
}
