@import "../../styles/var";

.start_page {
  display: flex;
  flex-direction: column;
  position: relative;

  .content_box {
    display: flex;
    flex-direction: column;
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 68px 100px 60px 100px;
  }
  .mobile_content {
    display: block;
    padding: 0 20px;
  }
  .accout {
    position: fixed;
    bottom: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .mobile_accout {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .link {
    font-style: normal;
    font-weight: 494;
    font-size: 20px;
    line-height: 22px;
    color: #c35b48;
    cursor: pointer;
  }
  .link:hover {
    text-decoration: underline;
  }
}

.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.mobile_img_bg {
  object-fit: cover;
}
