.intro {
  .title,
  .mobile_title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    color: #051655;
  }
  .mobile_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  .body {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #747887;
    max-width: 600px;
    margin-top: 10px;
  }
}
