.finish {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}
.content {
  padding: 0 20px;
}
.box {
  text-align: center;
  font-size: 50px;
  color: rgb(224, 66, 27);
  font-weight: bold;
  line-height: 60px;
}

.mobile_box {
  text-align: center;
  font-size: 30px;
  color: rgb(224, 66, 27);
  font-weight: normal;
  line-height: 40px;
}

.box > * + * {
  margin-top: 20px;
}
